@font-face {
  font-family: 'twoson';
  src: url('/assets/fonts/twoson.woff');
}

.twoson-font {
  font-family: 'twoson';
}

//summers style
.summers-body {
  min-height: 678px;
  background-image: url('/assets/images/summers-body-background.png');
}

.summers-title {
  height: 76px;
  margin-top: 10px;
  margin-left: 10px;
  background-image:
    url('/assets/images/summers-billboard-left.png'),
    url('/assets/images/summers-billboard-middle.png'),
    url('/assets/images/summers-billboard-right.png');
  background-repeat:
    no-repeat,
    no-repeat,
    no-repeat;
  background-position:
    left top,
    46px top,
    right top;
}

.summers-footer {
  height: 349px;
  background-image:
    url('/assets/images/summers-footer-repeat.png');
  background-repeat:
    repeat-x;
  background-position:
    bottom;
}

//generals

.header {
  background-color: transparent;
  border: none;
}
