<div class="container">
  <div class="frame-loading">
    <div class="frame-inner loading">
      <img class="loading-icon" src="/assets/images/dept-phantom.gif"><span>Loading...</span>
    </div>
  </div>
</div>
